{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>成都地震案例</title>
		<link rel="stylesheet" href="{% static 'css\style.css' %}" type="text/css" charset="utf-8" />
		{% for jsfile_name in script_list %}
		<script src="{{host}}/{{jsfile_name}}.js"></script>
		{% endfor %}
		{% for jsfile_name in script_list1 %}
    	<script src="{{host}}/{{jsfile_name}}.js"></script>
		{% endfor %}
		
	</head>
	
	<body>
		<div id="background">
			<img src="{% static 'images/absolute-img.jpg' %}" alt="abs-img" class="abs-img" />
			<div class="page">
				<div class="sidebar">
					<div class="featured">
						<h3>成都地震案例</h3>
						<a href="gallery.html" class="figure"><img src="{% static 'images/earthquake.png' %}" alt="" width="300px"/></a>
						<a href="gallery.html">preview</a>
						<span>by <font>徐泽军</font></span>
						<a href="blog.html" class="comments">12</a>
					</div>
					<div id="tweets">
						
						
					</div>
					<div id="article">
						<h3>成都地震火灾</h3>
						<ul>
							<li>
								<p>2020年2月3日00时05分，四川省成都市青白江区发生5.1级地震，震源深度21千米，震中位于北纬30.74度，东经104.46度。
                                    截至2020年2月3日凌晨1时，未发现有房屋倒塌和人员伤亡，未接到因震报警。</p>
                            </li>
							
						</ul>
					</div>
					<div id="connect">
						<h2>Stay Informed:</h2>
						<a href="#" class="facebook">QQ</a>
						<a href="#" class="twitter">Wechat</a>
						<form action="">
							<input type="text"/>
							<input type="submit" class="submit" value=""/>
						</form>
					</div>
					<div id="article">
						<h3>案例结论</h3>
						<ul>
							<li>
								<p>{{conclusion|safe}}</p>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="body">
					
					
					<h1><a href="example_earthquake.html">成都地震案例</a></h1>
					<ul class="navigation">
						<li><a href="{% url 'Post:index' %}">首页</a></li>
						<li><a href="{% url 'Post:example_virus' %}">新冠肺炎案例</a></li>
						<li><a href="{% url 'Post:example_fire' %}">西昌大火案例</a></li>
						<li><a href="{% url 'Post:example_earthquake' %}">成都地震案例</a></li>
					</ul>
					<div class="article">
						<div class="bubble"><span>性别组成</span></div>
						<div id="news">
							<div class="first">
								<h3>{{myechart|safe}}</h3>
							</div>
						</div>
					</div>
					<div class="article">
						<div class="bubble"><span>地区分布</span></div>
						<div id="news">
							<div class="first">
								<h3>{{myechart2|safe}}</h3>
							</div>
						</div>
					</div>
					<div class="article">
						<div class="bubble"><span>评论态势</span></div>
						<div id="news">
							<div class="first">
								<h3>{{myechart3|safe}}</h3>
							</div>
						</div>
					</div>
					<div class="article">
						<div class="bubble"><span>情感态势</span></div>
						<div id="news">
							<div class="first">
								<h3>{{myechart4|safe}}</h3>
							</div>
						</div>
					</div>
					<div class="article">
						<div class="bubble"><span>主要评论</span></div>
						<div id="news">
							<div class="first">
								<h3>{{myechart5|safe}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>